# Linear Regression

Let's fabricate some data that shows a linear relationship between features and target value

In [1]:
!pip install numpy

Requirement already satisfied: numpy in /home/aaiche/anaconda3/lib/python3.11/site-packages (1.23.5)

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /home/aaiche/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /home/aaiche/anaconda3/lib/python3.11/site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/aaiche/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/aaiche/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/aaiche/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/aaiche/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import numpy as np
import pandas as pd

In [4]:
def createRandomSortedList(num, start = 1, end = 100):
    arr = np.random.choice(np.arange(start, end + 1), size=num, replace=False)
    arr.sort()
    return arr

In [5]:
x = createRandomSortedList(1000, 1, 1000)
r = np.random.normal(0, 0.1, 1000)
y = (x + r) * 3 + 10
df_m = pd.DataFrame(list(zip(x, y)), columns=['x','y'])
df_m.insert(0, "G", "M")
df_m.shape

(1000, 3)

In [6]:
x = createRandomSortedList(1000, 1, 1000)
r = np.random.normal(0, 0.1, 1000)
y = (x + r) * 3 + 20
df_f = pd.DataFrame(list(zip(x, y)), columns=['x','y'])
df_f.insert(0, "G", "F")
df_f.shape

(1000, 3)

In [7]:
df = [df_f, df_m]
df = pd.concat(df, ignore_index="False")
#df

In [8]:
df['x2'] = np.random.normal(0, 10000, 2000)
df['x3'] = np.random.normal(0, 30000, 2000)
df['x4'] = np.random.normal(0, 50000, 2000)

In [9]:
#df = [df, x2]
df

      G     x            y            x2            x3             x4
0     F     1    22.460171   -260.654457  23825.538411  -74215.272663
1     F     2    25.796070    876.413786 -31678.546984  -25737.046014
2     F     3    28.476692  -2237.967043  -3406.141546  -58918.699837
3     F     4    32.016176   6353.678057  11763.725616   36076.817032
4     F     5    35.084537 -10317.568804   8707.862851   42055.032277
...  ..   ...          ...           ...           ...            ...
1995  M   996  2998.115751   1377.986616 -20897.551135  -21517.486702
1996  M   997  3000.992587    844.689054  -6469.141073  -18144.025812
1997  M   998  3003.843101 -10014.637236  13664.455387  -45734.187628
1998  M   999  3006.557088   9446.011067  27796.447197  -67932.961819
1999  M  1000  3009.751897    -82.732137   5715.077555 -126220.440332

[2000 rows x 6 columns]

In [10]:
df_shuffled = df.sample(frac=1).reset_index(drop=True)
df_shuffled

      G    x            y            x2            x3            x4
0     F  791  2393.313916  17075.115922  -8521.801072 -43177.354927
1     F  598  1814.608058 -20959.442965  23558.726889  39994.459715
2     M  138   423.938506  -1554.930015   5724.977460  66341.765179
3     F  664  2011.672969  -5135.895368  52338.091782 -16928.910574
4     M  375  1135.072607    158.475468    717.122450 -13250.407033
...  ..  ...          ...           ...           ...           ...
1995  M  615  1855.283816  10993.076806 -61587.390437  17052.096100
1996  M  253   769.226707 -13878.167369  -1137.067817  86493.650507
1997  F  602  1826.424219 -11559.254497 -69553.012391  -6197.085481
1998  F  185   575.152016  -4625.828583   3147.081554 -56708.896197
1999  F  961  2902.506021  -9790.361947  -9453.040444  -2895.794375

[2000 rows x 6 columns]

In [11]:
from numpy import NaN

In [12]:
df = df_shuffled
df['x'].iloc[0] = NaN
df['y'].iloc[10] = NaN
df['x2'].iloc[20] = NaN
df['x3'].iloc[30] = NaN
df['x4'].iloc[40] = NaN

/tmp/ipykernel_57366/3883959557.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['x'].iloc[0] = NaN
/tmp/ipykernel_57366/3883959557.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['y'].iloc[10] = NaN
/tmp/ipykernel_57366/3883959557.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['x2'].iloc[20] = NaN
/tmp/ipykernel_57366/3883959557.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['x3'].iloc[30] = NaN
/tmp/ipykernel_57366/3883959557.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['x4'].iloc[40] = NaN

In [13]:
df['y'].iloc[1] = df['y'].iloc[1] + 1000000000
df['y'].iloc[100] = df['y'].iloc[100] + 2000000000
df['y'].iloc[200] = df['y'].iloc[200] + 3000000000
df['y'].iloc[300] = df['y'].iloc[300] + 4000000000

/tmp/ipykernel_57366/3525096035.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['y'].iloc[1] = df['y'].iloc[1] + 1000000000
/tmp/ipykernel_57366/3525096035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['y'].iloc[100] = df['y'].iloc[100] + 2000000000
/tmp/ipykernel_57366/3525096035.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['y'].iloc[200] = df['y'].iloc[200] + 3000000000
/tmp/ipykernel_57366/3525096035.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['y'].iloc[300] = df['y'].iloc[300] + 4000000000

In [14]:
df.to_csv('data/myfile.csv', sep=',', index=False, encoding='utf-8')

In [15]:
!ls

00-CreateCsvFile.ipynb	00-Elyra-SCRIPT.txt  data

In [16]:
!pwd

/home/aaiche/Documents/00-Delivery/50-ML/80-AI267/01-warm-up/00-createCsvFile